apiVersion: v1
clusters:
- name: example-cluster
  params:
    server: http://localhost:9200
    tls: false
- name: example-cluster-2
  params:
    server: https://localhost:9200
    tls: true
- name: dr2
  params:
    server: https://pyramid-internal.okd-dr2.daletdev.com:9200
    tls: false
users:
- name: example-user
  user:
    token: fake-token
- name: example-user-2
  user:
    token: fake-token
- name: admin@dr2
  user:
    token: 01996de3-d5c0-7b9c-94a6-29cdace2d8eb
- name: vault-user-creds
  user:
    vault:
      file: ./example.vault.secrets.yml
      userKey: opensearch_admin_user
      passKey: opensearch_admin_password

contexts:
- name: example-context
  cluster: example-cluster
  user: example-user
- name: example-context-2
  cluster: example-cluster-2
  user: example-user-2
- name: admin@dr2@dr2
  cluster: dr2
  user: admin@dr2
- name: vault-admin@dr2@dr2
  cluster: dr2
  user: vault-user-creds

current: vault-admin@dr2@dr2
