name: re-usable steps
on:
  workflow_call: {}

jobs:
  linters:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24'
          cache: true
      - name: Verify dependencies
        run: go mod verify
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
  tests:
    runs-on: ubuntu-latest
    needs: linters
    strategy:
      matrix:
        osVersion:
          - '2'
          - '3'
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24'
          cache: true
      - name: Verify dependencies
        run: go mod verify
      - name: Run tests
        run: go test -ldflags="-X github.com/dalet-oss/opensearch-cli/pkg/api.OSVersion=${{matrix.osVersion}}" -v ./...
      - name: Build
        run: go build -v ./...
